{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Edit User</h1>

                {{ include('crud_user_profile/_form.html.twig') }}


            </div>
        </div>
    </div>

{% endblock %}
