{% block body %}

    <div class="container-fluid mt-5">
        <div class="row bg-success text-center text-light mt-5" >
            <div class="col-12 ">
                Despre YourShop
            </div>
            <div class="col-12">
                YourShop este liderul magazinelor de pescuit din Romania.

                Pe YourShop si in showroom-ul care se intinde pe doua niveluri, cu suprafata totala de peste 1.000mp, pescarii au la dispozitie o gama variata de branduri si produse pe care le pot analiza in detaliu si chiar testa.

                Consultantii YourShop ofera informatii, sfaturi si recomandari pescarilor, ajutandu-i sa aleaga rapid si confortabil ce li se potriveste in bugetul pe care il au, dintre cele peste 70.000 de produse aflate in stoc.
                <div class="col-12">
                Pentru nelamuriri accesati pagina <a href="{{ url('contact') }}">Contact</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}